.tableWrapper {
  position: relative;
  border: 1px solid var(--mantine-color-dark-4);
}

.table {
  table-layout: fixed;
}

.table, .table thead, .table tbody {
  display: grid;
}

.table tr {
  display: flex;
  align-items: center;
  transition: background-color 0.25s;
  will-change: transform;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.table td {
  overflow: hidden;
  text-align: left;
}

.bottom {
  position: absolute;
  bottom: 0;
}

.preview {
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-sm);
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 30px;
}

.actions {
  display: flex;
  justify-content: flex-end;
}
