.root {
    padding: 100px 0;
}

.inner {
    align-items: flex-start;
    flex-wrap: nowrap;
}

.preview {
    max-width: calc(18.75rem * var(--mantine-scale) + var(--mantine-spacing-md) * 2);
    border-radius: var(--mantine-radius-md);
    text-align: center;
    border: 1px solid var(--mantine-color-dark-4);
    padding: var(--mantine-spacing-md);
}

.formPaper {
    flex: 1 0 auto;
    border-radius: var(--mantine-radius-md);
    border: 1px solid var(--mantine-color-dark-4);
    padding: var(--mantine-spacing-md);
    align-self: stretch;
}

.formHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--mantine-spacing-xl);
}
