.tableWrapper {
  border-radius: 20px;
}

.table {
  table-layout: fixed;
}

.table, .tableHead, .tableBody {
  display: grid;
}

.tableHeadRow, .tableBodyRow, .tableCell{
  text-align: left;
  display: flex;
}

.tableHeadRow, .tableBodyRow {
  width: 100%;
}

.tableBody {
  position: relative;
}

.tableBodyRow {
  position: absolute;
  left: 0;
  top: 0;
  transition: background-color 0.25s;
  height: 75px;
  width: 100%;
  will-change: transform;
}

.tableCell {
  overflow: hidden;
  text-align: left;
}
